<h1>Passengers</h1>

<h2>Edit <%= @passenger.name %></h2>

<%= render partial: "form", locals: {
  form_class: "edit-passenger",
  intro_text: "Please fill out this form to edit passenger",
  action_name: "Edit passenger"
} %>
