<h1>Passengers</h1>

<h2>Add a new passenger</h2>

<%= render partial: "form", locals: {
  form_class: "new-passenger",
  intro_text: "Please fill out this form to add a new passenger",
  action_name: "Add passenger"
} %>
