<h1>
    Passengers
</h1>

<h2>
    <%= @passenger.name %>
</h2>

<p>
    Phone number: <%= @passenger.phone_num %>
</p>

<p>
    Total amount charged: $
</p>

<p>
    List of trips: 
</p>

<p>
    Edit passenger
</p>

<p>
    Delete passenger
</p>

<p>
    Add a new trip
</p>

<%= link_to "Edit this passenger", edit_passenger_path %>

<%= link_to "Back to All Passengers", passengers_path %>

