<h2>All Drivers</h2>

<table class="table">
<tr>
<th>Driver ID</th>
<th>Driver Name</th>
<th>Average Rating</th>

<% @drivers.all.each do |driver| %>
<tr>
<td><%= driver.id %></td>
<td><%= link_to driver[:name], driver_path(driver.id) %></td>
<td><%= driver.average_rating %></td>
</tr>
<% end %>