
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body {
   background-color: #fff;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:  "page-left navbar navbar page-right" "page-left content content page-right" "footer footer footer footer";
  }

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
  font-family: 'Walter Turncoat', sans-serif;
  display: block;
  top: 2;
  width: auto;
  height: 60px;
  background: #fff;
  border: solid 5px rgb(145, 221, 183);;
 }

a {
   color: #555;
 }

 nav ul {
   margin: 0px;
   padding: 20 20px;
   list-style: none;
   overflow: hidden;
   background-color: transparent;
   z-index: 10;;
 }

 nav li {
   float: right;
 }

 nav li a {
   display: block;
   padding: 20px 10px;
   background-color: transparent;
   text-decoration: none;
 }

 nav li a:hover,
 nav .menu-btn:hover {
   color: red;
 }

 nav .logo {
   display: block;
   float: left;
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
 }

 nav .menu {
   clear: none;
   max-height: none;
   float: right;
 }

 table.table {
  font-family: "Courier New", Courier, monospace;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: center;
}

table.table td, table.table th {
  border: 1px solid #FFFFFF;
  padding: 5px 5px;
}
table.table tr:nth-child(even) {
  background: #D0F5C7;
}

table.table th {
  background: #3AA467;
  font-size: 1.2rem;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}

table.table th:first-child {
  border-left: none;
}

.page-right { grid-area: page-right; }

.page-left { grid-area: page-left; }

.footer { grid-area: footer; }

