
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat:900|Work+Sans:300');

  body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
   }
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:  "page-left navbar navbar page-right" "page-left left-card right-card page-right" "page-left content content page-right" "footer footer footer footer";
  }

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
  font-family: 'Montserrat', sans-serif;
  display: block;
  top: 2;
  width: auto;
  height: 60px;
  background: #fff;
  border: solid 5px rgb(145, 221, 183);;
 }

a {
   color: #555;
 }

 nav ul {
   margin: 0px;
   padding: 20 20px;
   list-style: none;
   overflow: hidden;
   background-color: transparent;
   z-index: 10;;
 }

 nav li {
   float: right;
 }

 nav li a {
   display: block;
   padding: 20px 10px;
   background-color: transparent;
   text-decoration: none;
 }

 nav li a:hover,
 nav .menu-btn:hover {
   color: red;
 }

 nav .logo {
   display: block;
   float: left;
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
 }

 nav .menu {
   clear: none;
   max-height: none;
   float: right;
 }

 table.table {
  font-size: 1.2rem;
  font-family: "Cutive Mono", monospace;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: center;
}

table.table td, table.table th {
  border: 1px solid #FFFFFF;
  padding: 5px 5px;
}
table.table tr:nth-child(even) {
  background: #D0F5C7;
}

table.table th {
  background: #3AA467;
  font-size: 1.2rem;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}

table.table th:first-child {
  border-left: none;
}

td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  white-space: normal;
  text-align: left;
}

.table td:before {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}

.left-card {
  grid-area: left-card;
  width: 450px;
  height: 250px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.left-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#92bCa6, #A2CCB6);
  transition: width 0.4s;
  overflow: hidden;
    z-index: 2;
    border-radius: 5px;
  }

  .left-card:hover .additional {
    width: 100%;
    border-radius: 5px;
  }

  .left-card .additional .user {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }

  .left-card .additional .user h2 {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    margin-left: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #fff;
  }

  .left-card .additional .user:after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }

  .left-card .additional .user {
    top: 2%;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
  }

  .left-card .additional .coords {
    margin: 0 1rem;
    font-size: 1rem;
    color: #325C46;
  }

  .left-card .additional .coords span + span {
    float: right;
    color: #fff;
  }

  .left-card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
  }

  .left-card .additional .more-info h1 {
    color: #325C46;
    margin-bottom: 0;
  }

  .left-card h1 {
    text-align: center;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
  }

.page-right { grid-area: page-right; }

.page-left { grid-area: page-left; }

.footer { grid-area: footer; }

